/* cao bang chinh lai dong 108*/
/* global */
* {
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-size: 14pt;
}

/* @media screen and (max-width: 1440px) and (max-aspect-ratio: 3/4) {
              header {
                margin-bottom: 2.5vh;
              }
            } */

:root {
  --normalBackground: #dddddd;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* header */
header {
  height: 12vh;
  width: 100%;
  margin-top: 1vw;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: calc(auto - 2px);
  height: 100%;

  margin-left: 4.5vw;
}
#logo a {
  width: auto;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #4152a3;
}
#logo img {
  width: auto;
  height: inherit;
  object-fit: contain;
  object-position: center;
  margin-right: 0.5vw;
}

#logo p {
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
  line-height: 2vw;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin-right: 4.8vw;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

nav li a {
  display: block;
  text-align: center;
  padding: 1vw 2vw;
  color: #111;
  font-size: 14pt;
  border-radius: 0.5vw;
  margin-right: 0.3vw;
  transition: 0.3s;
}

nav li a.active {
  color: #4400ff;
  font-weight: 700;
}

nav li a.inActive {
  color: black;
}

nav li a:hover {
  background-color: #f0f0f0;
}

/* main */
.tab-content {
  margin: 1.5vw 4vw;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* body */
#banner {
  width: 100%;
  height: 20vw;
  background-color: gray;
  border-radius: 0.5vw;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 2vw;
}
#contents {
  width: 65%;
  background-color: gray;
  border-radius: 0.5vw;
}
#tab3,
#tab4 {
  width: 80%;
  margin: auto;
  text-align: justify;
}
.tab-pane img {
  width: 80%;
  height: auto;
  margin: 1vw 10%;
  border-radius: 0.5vw;
}
.loginTab {
  width: 28%;
  outline: 2px solid black;
  border-radius: 0.5vw;
  padding: 2vw;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.8);
}

#notLogin {
  display: flex;
  height: 50vh;
  align-items: center;
}
#notLogin .loginTab {
  margin: auto;
}

#logined > h2 {
  margin: 2vw 0 1vw 3vw;
}

#moveToTop {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: fixed;
  bottom: 30vh;
  right: 1vw;
  color: #4152a3;
  padding: 0.1vw;
  border-radius: 0.5vw;
}
#indexLevel {
  margin: auto;
  width: 65vw;
  display: grid;
  grid-template-areas:
    "level level"
    "body air";
  justify-content: space-between;
  gap: 1vw;
}

#indexLevel h3 {
  margin: 0;
}
#levelBar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  align-self: center;
  column-gap: 2vw;
}

#levelBar > div {
  display: flex;
  width: 100%;
  height: 1.5vw;
}

#theLevel div {
  height: 100%;
  width: 100%;
}
[title="low2"] {
  background-color: #3c096c;
  border-radius: 4vw 0 0 4vw;
}
[title="low1"] {
  background-color: #3f37c9;
}
[title="normal"] {
  background-color: #34b257;
}
[title="high1"] {
  background-color: #ffbf00;
}
[title="high2"] {
  background-color: #bf0000;
  border-radius: 0 4vw 4vw 0;
}

#indexData {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 2vw;
  gap: 2vw;
}
#indexData p,
#indexData div,
#indexData span {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 14pt;
}

#indexData [id$="Value"] {
  margin-right: 0.25vw;
}
#health {
  width: auto;
  height: auto;
  background-color: var(--normalBackground);
  border-radius: 0.5vw;
  display: grid;
  grid-template-areas:
    "a a e"
    "b c d";
  gap: 1vw;
  padding: 2vw !important;
}
#air {
  width: auto;
  height: auto;
  background-color: var(--normalBackground);
  border-radius: 0.5vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5vw;
  padding: 2vw !important;
}
#indexData > div a {
  margin: auto;
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.5vw;
}

#health > div,
#air > div {
  border-radius: 0.5vw;
  height: initial;
  width: 100%;
}

#indexData a > div {
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
}
#indexData a > div > div {
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 1vw 0.5vw 1vw;
  border-radius: 0.5vw;
}

/* indexValue
#bloodPressure {
  background-color: #34b257;
  color: black;
}
#dropSpeed {
  outline: 0.2vw solid black;
  outline-offset: -0.2vw;
}
#heartRate {
  background-color: #ffbf00;
  color: black;
}
#spO2 {
  background-color: #3c096c;
  color: white;
}
#skinTemp {
  background-color: #bf0000;
  color: white;
}
#tempHumidity {
  background-color: #3f37c9;
  color: white;
}
#PM2 {
  background-color: #ffbf00;
  color: black;
}
#SO2 {
  background-color: #34b257;
  color: black;
}
#CO2 {
  background-color: #34b257;
  color: black;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  margin-right: 0.25vw !important;
  margin-left: 0.25vw !important;
}

/* chi tiet thong tin  */
.area {
  margin: auto;
  margin-bottom: 3vw;
  width: 90%;
  height: auto;
  padding-bottom: 1vw;
  border-radius: 0.5vw;
  background-color: #bfeeff;
}
.area h3 {
  padding: 2% 0 1.5% 5%;
}
.area div,
canvas {
  background-color: white;
  height: 80% !important;
  width: 90% !important;
  margin: auto !important;
  border-radius: 0.5vw;
}
#map {
  width: 100%;
  height: 50vh !important;
}

/* setting Number */
#setting {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 3vw;
  border-radius: 0.5vw;
  background-color: var(--normalBackground);
}

#inSetting {
  padding: 4vh 4vw;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  margin: auto;
}

#inSetting div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 0.5vw;
}

#inSetting div div {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
}

#inSetting input {
  width: 65%;
  height: 2vw;
  border-radius: 0.5vw;
  padding: 0.25vw;
  border: 0.1vw solid #111;
  font-size: 12pt;
  text-align: center;
}

#inSetting button {
  width: 30%;
  height: 2.5vw;
  border-radius: 0.5vw;
  border: none;
  font-size: 14pt;
  font-weight: bold;
}

form {
  width: auto;
}
form div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  column-gap: 1.5vw;
  margin-top: 1vw;
}
form div label {
  font-size: 18pt;
  color: #000000;
  font-weight: bold;
}
form div input {
  width: 45%;
  height: 1.5vw;
  border: 0.1vw solid gray;
  border-radius: 0.5vw;
  padding: 0.5vw;
  font-size: 12pt;
  text-align: center;
}
[type="submit"] {
  width: 100%;
  height: 3vw;
  border: 0.1vw solid black;
  border-radius: 0.5vw;
  font-size: 16pt;
  background-color: #4400ff;
  color: white;
  font-weight: bold;
}

footer {
  width: 92vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 2vw;
  padding: 2vw 4vw;
  margin-top: 5vw;
  background-color: f0f0f0;
  border-radius: 0.5vw 0.5vw 0 0;
  text-align: justify;
  background-color: var(--normalBackground);
}
footer h3 {
  color: #4152a3;
}
footer p,
footer li {
  font-size: 14pt;
  color: #000000;
  margin-top: 0.5vw;
}
#footerLeft {
  width: 60%;
}
#footerRight {
  width: 30%;
}
/* hover button effects */
li > a:hover,
#moveToTop:hover,
button:hover,
#health > div:hover,
#air > div:hover,
[type="submit"]:hover {
  box-shadow: 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, 0.8) !important;
  transform: translateX(-0.3vw) translateY(-0.3vw) !important;
  transition: 0.3s !important;
}

/* if the #news's height > it's width, change the #banner to flex colum */
@media screen and (max-width: 1090px) and (max-aspect-ratio: 13/10) {
  header {
    height: auto;
  }
  nav {
    display: block;
    height: auto;
  }
  #logo {
    margin: auto;
    height: 10vh;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 1vh;
  }
  #logo p {
    font-size: 2.2vh !important;
    margin-top: 1vh;
    height: auto;
  }
  ul {
    margin: auto;
  }
  ul li {
    width: 100vw;
  }
  #banner {
    flex-flow: column wrap;
    gap: 2.5vh;
  }
  #news {
    height: 37.5vh;
    width: 100%;
  }
  #levelBar > div {
    width: 100%;
    height: 4vw;
  }
  #index {
    height: 37.5vh;
    width: 100%;
  }
  .area {
    margin-top: 2.5vh;
    height: 60vh;
    width: 100%;
  }
  #setting {
    margin-top: 2.5vh;
    width: 100%;
  }
  #setting > h2 {
    padding-top: 4vh;
    padding-bottom: 1.5vh;
  }
  #setting div div {
    width: 100%;
    height: auto;
  }
  #setting input,
  #setting button {
    height: 5vh;
  }
}

@media screen and (max-width: 890px) {
  header nav ul {
    flex-flow: column;
    padding: 0;
    width: 90%;
    margin: auto;
  }
  header nav ul li {
    width: 100%;
  }
}
/* if the #news's height > it's width, change the #banner to flex colum */
@media screen and (max-width: 620px) {
  #indexData {
    flex-flow: column;
    gap: 1.5vh;
    height: auto;
  }
  #indexData > div {
    width: auto;
    padding: 1vw;
  }
  #inIndex {
    display: flex;
    flex-direction: column;
  }
  #index {
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  body {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  h2,
  button {
    font-size: 2vw;
  }
  header nav ul li a {
    font-size: 1.5vw;
  }
  .navButton {
    font-size: 1.5vw;
  }
  .indexDataLabels {
    font-size: 2vw;
  }
  .indexDataUnit {
    font-size: 1.3vw;
  }
  .indexDataNum {
    font-size: 2.2vw;
  }
  .material-symbols-outlined {
    font-size: 2.5vw !important;
  }
  p,
  li {
    font-size: 1.3vw;
    margin-top: 0.5vw;
    line-height: 1.8vw;
  }
}
